.result-container {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: wheat;
}

.result-container textarea {
  width: 100%;
  /* height: auto; */
  padding: 15px;
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
  background-color: #14141f;
  border: none;
}

.result-container textarea.success {
  color: wheat;
}

.result-container textarea.error {
  color: red;
}
